body {
  padding: 30px;
  padding-top: 10px;
  width: 50vw;
}

.app {
  max-width: 80vw;
  min-width: 350px;
  max-height: 90vh;
  min-height: 450px;
}

.app-body {
  height: 80vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  margin-left: 30px;
}

.add-btn {
  margin-right: 30px;
  border: 1px solid red;
  border-radius: 10%;
  font-size: 40px;
}

.contacts-list {
  padding: 20px;
  padding-top: 5px;
  border: 1px solid gray;
  box-shadow: rgb(0, 0, 10, 15);
  width: full;
  height: full;
  border-radius: 15px;
  height: 80vh;
  overflow: auto;
}
