.contact-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: border 0.25s;
}
.contact-body:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.contact-body:focus {
  border: 1px solid gray;
}

.contact-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contact-info {
}

.contact-name {
  font-size: 16px;
}

.contact-phone {
  font-size: 12px;
  font-style: italic;
}

.contact-btn {
  animation: editBtn-animation;
}

.collapse-btn {
  padding: 5px;
}
.collapse-btn:hover {
  cursor: pointer;
}

.contact-lower {
  width: 100%;
}

.additInfo-body {
  display: flex;
  justify-content: start;
  flex-direction: column;
  overflow: hidden;
  gap: 4px;
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  /* transition: transform 1.5s ease-in; */
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(-20px);
  z-index: 2;
}
.additInfo-body.expanded {
  max-height: 200px;
  opacity: 1;
  pointer-events: pointer;
  transform: translateY(0);
}
.additInfo-body > p {
  font-size: 16px;
}
.additInfo-body {
  font-size: 8px;
}

.additInfo-line {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  z-index: 1;
}

.additInfo-line > p {
  font-size: 10px;
}
